/*  ---------- GLOBAL ---------- */

* {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

.link {
  text-decoration: none;
  margin-top: 20px;
  color: black;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

input,
button {
  outline: none;
}

/*  ---------- HEADER ---------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}

.logo {
  height: 30px;
}

.search-bar {
  position: relative;
}

.search-input {
  width: 600px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.search-input::placeholder {
  color: #cbcccd;
}

.search-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbbbbb;
}

.button-header {
  height: 30px;
  width: 115px;
  font-size: 12px;
}

.button-login-signup {
  background-color: white;
  color: #2cb1ba;
  margin-right: 20px;
  border: 1px solid #2cb1ba;
}

.button-logout {
  height: 30px;
  font-size: 12px;
  background-color: #c2175b;
  color: white;
}

.button-sell {
  background-color: #2cb1ba;
  color: white;
  height: 30px;
  width: 115px;
  font-size: 12px;
}

/* ---------- LOGIN/SIGNUP ---------- */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  width: 300px;
  margin: auto;
  flex-direction: column;
  margin-bottom: 10px;
}

.form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 40px;
  margin-bottom: 20px;
}

.signup-form input::placeholder {
  color: #cbcccd;
}

#checkbox {
  transform: scale(2, 2);
  margin-right: 20px;
}

.form button {
  background-color: #2cb1ba;
  height: 45px;
  color: white;
  margin-top: 20px;
}

.container a {
  color: #2cb1ba;
  font-size: 12px;
  text-decoration: none;
}

.signup-login-error-message {
  color: red;
  font-size: 9px;
}

/* ---------- HOME ---------- */

.home-img {
  background-image: url("hero.jpg");
  height: 455px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
}

.home-img > div {
  width: 1280px;
  margin: auto;
}

.home-message {
  height: 200px;
  width: 350px;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
}

.home-message button {
  height: 45px;
  width: 190px;
  background-color: #2baeb7;
  border-radius: 5px;
  color: white;
  padding: 15px;
  margin-top: 30px;
}

.tear {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
}

.card-wrapper {
  width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
}

/* ---------- CARD ---------- */

.card {
  width: 235px;
  padding: 0 6px 16px;
  cursor: pointer;
}

.card div:last-child img {
  height: 360px;
  width: 235px;
}

.card-user {
  display: flex;
  align-items: center;
  padding: 5px;
}

.card-user > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-user > span {
  color: #999999;
  font-size: 12px;
}

.product-infos {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product-infos span:first-child {
  font-size: 14px;
}

.product-infos span:not(:first-child) {
  font-size: 12px;
  color: #999999;
}

/* ---------- OFFER ---------- */
.offer {
  height: 100%;
  background-color: #ebedee;
}

.offer-container {
  width: 1280px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

.offer-pictures {
  width: 60%;
}

.offer-img {
  height: 600px;
  object-fit: contain;
}

.infos-offer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 450px;
  padding: 40px;
}

.offer-price {
  font-size: 24px;
  line-height: 32px;
  color: #111;
}

.offer-detail {
  list-style-type: none;
  padding: 0;
}

.offer-detail li {
  display: flex;
  padding: 2px 0;
}

.offer-detail span {
  flex: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.offer-detail span:nth-child(odd) {
  color: #999;
}

.offer-detail span:nth-child(even) {
  color: #666;
  font-weight: bold;
}

.infos-offer .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: black;
}

.offer-content .name {
  font-weight: bold;
}

.offer-content .description {
  color: #666;
}

.buy {
  color: #fff;
  background: #09b1ba;
  height: 45px;
  padding: 0 16px;
  margin-top: 32px;
}

.carousel .slide {
  background-color: #eaedee !important;
}

.carousel .slide img {
  width: 350px !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #2eb1ba !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #2eb1ba !important;
}

.carousel .thumbs-wrapper {
  margin: 0 !important;
}

.carousel .thumbs {
  padding: 0 !important;
}

.carousel .thumb img {
  height: auto;
}

.avatar-username {
  display: flex;
  align-items: center;
}

.avatar-username > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

/* ----------- Publish ----------- */

.publish {
  background-color: #ebedee;
}

.publish-container {
  width: 90%;
  margin: 0 auto;
}

.publish-title {
  font-size: 24px;
  padding-top: 40px;
  margin-left: 180px;
}

.file-select {
  background-color: white;
  padding: 24px;
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
  box-shadow: 0 0 2px gray;
}

.file-select > p {
  margin: 0 0 10px 0;
}

.preview-without {
  border: 1px #ebedee dashed;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-design-default {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
  width: 200px;
}

.input-design-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
  width: 45px;
}

.preview-image {
  border: 1px #ebedee dashed;
  border-radius: 3px;
  height: 200px;
  display: flex;
  align-items: center;
}

.preview-image img {
  height: 90%;
  margin: 0 10px;
}

.remove-img-button {
  position: relative;
  color: black;
  right: 60px;
  bottom: 70px;
  height: 25px;
  line-height: 25px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.input-file {
  display: none;
}

.input-sign {
  font-size: 30px;
}

.text-input-section {
  background-color: white;
  margin: auto;
  box-shadow: 0 0 2px gray;
  padding: 24px;
  width: 70%;
  margin-bottom: 20px;
}

.text-input-section > .text-input:not(:last-child) {
  height: 25px;
  border-bottom: 1px solid #ebedee;
  vertical-align: center;
}

.text-input-section label {
  color: #666666;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.text-input > h4 {
  font-weight: normal;
  margin: 0;
  vertical-align: baseline;
}

.text-input > input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: black;
}

.checkbox-section {
  width: 50%;
}

.checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: black;
  margin-bottom: 40px;
}

.text-input > input::placeholder {
  color: #c4c7c9;
}

.checkbox-section > input::placeholder {
  color: #c4c7c9;
}

.text-input > textarea {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: black;
}

.text-input > textarea::placeholder {
  color: #c4c7c9;
}

.button-container {
  display: flex;
  justify-content: center;
}

.form-validation {
  background-color: #0ab1ba;
  color: white;
  width: 250px;
  height: 50px;
  padding: 12px 12px;
  margin: 50px 0;
}

/* ----------- PAYMENT ----------- */

.payment-card {
  background: #ffffff;
}

.payment-card > .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  padding: 24px 24px 8px;
}

.payment-card .content {
  padding: 24px;
}

.payment-card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.payment-card li {
  line-height: 22px;
  color: #666;
  padding: 4px 0;
  display: grid;
  grid: auto / 1fr auto;
  align-items: center;
}

.payment-card li.bold {
  color: #111;
  font-weight: bold;
}

.payment-card .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.payment-wrapper {
  background: #ebedee;
}

.payment-container {
  width: 600px;
  margin: 0 auto;
  padding: 36px 20px;
}

.payment-card {
  background: #ffffff;
}

.payment-card > .title {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  padding: 24px 24px 8px;
}

.payment-card .content {
  padding: 24px;
  text-align: justify;
}

.payment-card .divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
  margin: 24px 0;
}

.payment-card .content .bold {
  font-weight: bold;
}

.payment-card label {
  color: #6b7c93;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.payment-card button {
  margin-top: 8px;
  display: block;
  width: 100%;
  line-height: 22px;
  height: 44px;
  padding: 0 14px;
  color: #fff;
  border: 1px solid;
}

.payment-card button {
  background: #00c06d;
  border-color: #00c06d;
}

.payment-card button:hover {
  background: #00bb6a;
  border-color: #00bb6a;
}

.payment-card button:active {
  background: #01b165;
  border-color: #01b165;
}

.payment-card input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  background: white;
}

/* ----------- Footer ----------- */

.footer {
  height: 70px;
  bottom: 0;
  text-align: center;
  background-color: white;
  width: 100%;
}

.footer p {
  line-height: 60px;
  color: #2eb1ba;
}

.footer a {
  color: #2eb1ba;
  text-decoration: none;
  cursor: pointer;
}

.footer img {
  height: 20px;
}
